@model MyWebsite.Models.SpendingCategoryModel

@{
    ViewBag.Title = "AddSpendingCategory";
}

<h2>AddSpendingCategory</h2>

@if (!ViewBag.hasCategories)
{
    <p class="error">Please create at least one category before adding a spending record.</p>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SpendingCategoryModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}
@if (!ViewBag.Unique){
<h2 class="error"> Error: The inputted category already exists</h2>
    }

@if (ViewBag.Success)
{
    <h2 class="success">Category added successfully</h2>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


