@model MyWebsite.Models.SpenderStatModel

@{
    ViewBag.Title = "Home";
}

<h2>@Html.DisplayFor(model => model.Nickname), here's your spending breakdown:</h2>


<div class="main-grid">
    <div class="quick-stats">
        <p>Total Spending: $@Html.DisplayFor(Model => Model.TotalSpending)</p>
    </div>
    <div class="weekly-breakdown column">
        @foreach (CategoryStatistic category in Model.CategoryStats)
        {
            <div class="category-container">
                <div class="cat-label">Category Name:</div>
                <div class="cat-data">@Html.Encode(category.CategoryName)</div>
                <br/>
                <div class="cat-label">Weekly Spending:</div>
                <div class="cat-data">@Html.Encode(category.WeeklyAbsolute)</div>
                <br/>
                <div class="cat-label">Weekly Percentage:</div>
                <div class="cat-data">@Html.Encode(category.WeeklyPercentage)</div>
            </div>
        }
    </div>
    <div class="all-time column">
        @foreach (CategoryStatistic category in Model.CategoryStats)
        {
            <div class="category-container">
                <div class="cat-label">Category Name:</div>
                <div class="cat-data">@Html.Encode(category.CategoryName)</div>
                <br/>
                <div class="cat-label">Total Spending:</div>
                <div class="cat-data">@Html.Encode(category.TotalAbsolute)</div>
                <br/>
                <div class="cat-label">Total Percentage:</div>
                <div class="cat-data">@Html.Encode(category.TotalPercentage)</div>
            </div>
        }
    </div>
</div>



